.group {
    background: rgb(216, 198, 118);
    width: 180px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 100px 80px;
    border-radius: 15px;
    padding: 5px;
}

input,
select {
    background: none;
    border: 0;
}

input {
    padding-left: 20px;
}

select {
    padding: 15px;
}